ipython
jupyter
jupyterlab
matplotlib
numpy<2.0
scipy
tensorflow-cpu
pydot
scikit-learn
scikit-learn-intelex
imbalanced-learn
scikit-image
opencv-python-headless
spectral
tqdm
ffmpeg-python
pyexiftool
pandas
geopandas
h5py